<div class="card">
    <div class="card-body">
        <h4 class="card-title">Sample Form with the Icons</h4>
        <h6 class="card-subtitle">made with bootstrap elements</h6>
        <form class="form p-t-20" [formGroup]="form" (ngSubmit)="save()">
            <div class="form-group">
                <label for="">User Name</label>
                <div class="input-group">
                    
                    <input type="text" class="form-control" formControlName="nick" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <div class="input-group">
                    
                    <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
                </div>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <div class="input-group">
                    
                    <input type="password" class="form-control" id="pwd1" placeholder="Enter email">
                </div>
            </div>
            <div class="form-group">
                <label for="">Confirm Password</label>
                <div class="input-group">
                    
                    <input type="password" class="form-control" id="pwd2" placeholder="Enter email">
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox checkbox-success">
                    <input id="checkbox1" formControlName="activo" type="checkbox">
                    <label for="checkbox1" > Activo </label>
                </div>
            </div>
            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
            <button type="submit" class="btn btn-inverse waves-effect waves-light" (click)="activeModal.dismiss()">Cancel</button>
        </form>
    </div>
</div>